@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Spectral&display=swap'); /* roboto e spectral */

/* !!! Sono riuscito a fare solo la versione desktop per mancanza di tempo */

/* Impostazioni generali */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1 { /* titolo */
    font-family: 'Spectral', serif;
}


/* HEADER */

@media screen and (min-width: 1200px) { /* desktop version */
    
    header {
        background-color: #ffc017;
        padding-top: 5%;
    }
    
    /* Barra di navigazione */

    nav {
        background-color: #ffc017;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 1000;
        transition: background-color 0.7s ease;
    }

    nav ul {
        display: flex;
        justify-content: space-between; /* Spazio tra gli elementi */
        align-items: center;
        list-style: none;
        padding: 2% 5%;
        border-bottom: 0.1em solid black ;
    }
    
    nav ul li {
        margin-left: 1em; /* Spazio tra gli elementi della lista */
    }

    nav ul li a {
        font-size: 1em;
        margin: 0.3em;
        text-decoration: none;
        color: #191919;
    }
    
    nav ul li button {
        font-size: 1em;
        background-color: #191919;
        color: white;
        padding: 0.4em;
        border: none;
        border-radius: 1em;
        transition: background-color 0.7s ease;
    }
    
    nav ul li:first-child { /* align-self non funzionava */
        margin-left: 0; /* Rimuovi il margine sinistro dal primo elemento della lista */
        margin-right: auto; /* Sposta l'immagine a sinistra */
    }
    
    nav img {
        width: 10em;
        height: auto;
    }

    /* contenitore stay curious */

    h1 {
        font-size: 6em;
        margin: 1em 0 0.3em 0.4em;
    }

    header div p {
        font-size: 1.5em;
        margin: 0 2em;
    }

    header div button {
        font-size: 1.3em;
        background-color: #191919;
        color: white;
        padding: 0.4em 2em;
        border: none;
        border-radius: 1em;
        margin: 2.5em 2em;
        width: 40%;
    }

    .stayCurios {
        width: 50%;
    }

    header #stayC {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
    }

    header .artwork {
        align-self: flex-end;
        width: 50%;

    }

}



/*/////////// MAIN ////////////*/

@media screen and (min-width: 1200px) { /* desktop version */
    
    h3 {
        font-size: 1em;
        font-weight: bold;
        text-transform: uppercase;
        margin-top: 0.4em;
        margin-left: 0.2em;
    }

    main .Tmedium {
        margin: 3em 5em;
        display: flex;
    }

    .trending div {
        position: absolute;
        top: 0.5em;
        left:-2.5em;
    }

    .trending div p {
        font-size: 2em;
        font-weight: bold;
        color: rgb(206, 202, 202);
    }

    .trending h2 {
        font-size: 1em;
        font-weight: bold;
    }

    .trending p:nth-child(2) {
        font-size: 0.9em;
        font-weight: bold;
        line-height: 1.2em;
    }

    .trending p:nth-child(4) {
        font-size: 0.8em;
        color: rgb(138, 128, 128);
        margin-top: 0.4em;
    }

    .trending img {
        width: 7%;
        border-radius: 1em;
        margin-right: 0.5em;
    }

    .trending {
        width: 24%;
        margin: 0.7em 2em;
        padding: 0.4em;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    main .trendingContenitore {
        margin: 5% 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        border-bottom: 0.05em solid rgb(199, 196, 196);
    }
}



/*///////// SECTION /////////*/

@media screen and (min-width: 1200px) { /* desktop version */
 
    .imgL {
        align-self: baseline;
        justify-self: flex-end;
    }

    section h2 {
        font-size: 1em;
        font-weight: bold;
        margin: 0.2em;
    }

    section div p:nth-child(4) {
        font-size: 0.9em;
        margin: 0.3em;
        font-weight: bold;
        color: rgb(138, 128, 128);
        line-height: 1.2em;
    }

    section div p:last-of-type {
        font-size: 0.8em;
        color: rgb(138, 128, 128);
        margin-top: 0.4em;
    }

    section img {
        width: 4%;
        border-radius: 1em;
        margin-right: 0.5em;
    }

    .bookmark {
        width: 10%;
    }

    .star {
        width: 2%;
    }
    
    .imgL {
       width: 100%; 
    }

    .notizia {
        width: 100%;
        display: flex;
        margin: 0;
        justify-content: space-around;
    }


    .imgL img {
        margin-left: 5em;
        width: 50%;
        border-radius: 0;
    }

    .bookmark {
        position: absolute;
        right: 20%;
    }

    section {
        width: 60%;
        padding: 0 3%;
        display: flex;
        flex-direction: column;
    }

    section div {
        width: 80%;
        margin: 2em 0;
    }

    section span {
        background-color: rgb(235, 230, 230);
        padding: 0.2em;
        border-radius: 1em;
    }
    
}



/*//////////// ASIDE ///////////*/

@media screen and (min-width: 1200px) { /* Desktop version */
    aside button {
        border: 0.08em solid rgb(161, 159, 159);
        background-color: white;
        color: rgb(138, 128, 128);
        padding: 0.3em;
        margin: 0.5em;
    }

    aside {
        display: sticky;
        top: 0;
        width: 30%;
        height: 50%;
        margin-right: 10%;
        padding-bottom: 2em;
        overflow-y: auto;
    }

    #tag {
        border-bottom: 0.05em solid rgb(199, 196, 196);
        margin: 2em 0;
        padding: 1em 0;
    }

    #fine button {
        border: none;
    }

    aside h3 {
        margin-bottom: 1em;
    }

    .notizieEtag {
        display: flex;
        justify-content: space-evenly;
    }
}